* {
  color: white;
  font-family: 'Open Sans', sans-serif;
}

a {
  color:rgb(165, 162, 148);
  font-weight: bolder;
}

html, body {height:100%;
}


body {

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  background: url(/src/assets/newbg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  
}

.emph{
  font-style: italic;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.screenshot {
  width: auto;
  max-height: 80%;
  border: black;
  border-width: 3pt;
  border-style: solid;
}

.linkImg {
  max-width: 15%;
  max-height: 15%;
}

.homeText {
  font-family: 'Open Sans', sans-serif;
  font-size: 50pt;
  font-weight: bolder;
}

.buffer {
  margin-top: 10%;
}

.profilePic{
  max-height:50%;
  max-width:auto;
}



.buttonImg {
  width: 5%;
  height: auto;
  position:fixed;
  top:50%;

}


.vert {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.aboutText{
  color:white;
  text-align: center;
  font-weight: bold;
  font-family: 'Open Sans', sans-serif;
  list-style-type: none;
}

.contentAlign{
 position:absolute;
 top:15%;

}


.nav-link {
  color:white;
}

.navbar-brand {
  color:white;
}


.hero-text {
  text-align: center;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.sticky {
  position: -webkit-sticky; 
  position: sticky;
  bottom: 0;
  background-color: black;
  color:white;

}

.header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height:10%;
  background-color: black;
  color:white;
}

.linkPosition{
  position: fixed;
  right:0;
  top:0;
}