*,a {
  color: white;
}

html, body {height:100%;
}



iframe{
  height:800;
  width:600;
}

body {

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  background: url(/src/assets/newbg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.screenshot {
  width: auto;
  max-height: 80%;
  border: black;
  border-width: 3pt;
  border-style: solid;
}

.linkImg {
  max-width: 10%;
  height: auto;
  padding: 5px;
}

.homeText {
  font-family: 'Open Sans', sans-serif;
  font-size: 50pt;
  font-weight: bolder;
}

.buffer {
  padding: 10px;
}





.buttonImg {
  width: 5%;
  height: 5%;
}

.vert {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.aboutText{
  color:white;
  text-align: center;
  font-weight: bold;
  font-family: 'Open Sans', sans-serif;
  list-style-type: none;
}

#resume{
  max-height: 80%;
  max-width: auto;

}


.nav-link {
  color:white;
}

.navbar-brand {
  color:white;
}




/* Place text in the middle of the image */
.hero-text {
  text-align: center;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}