* {
  color: white;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("/src/assets/bgimg.jpg");
  background-size: auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.screenshot {
  width: auto;
  max-height: 80%;
  border: black;
  border-width: 3pt;
  border-style: solid;
}

.linkImg {
  max-width: 10%;
  height: auto;
  padding: 5px;
}

.homeText {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 72pt;
  font-weight: bolder;
}

.buffer {
  padding: 10px;
}

h2 {
  color: black
}

p {
  color: black
}

.buttonImg {
  max-width: 100%;
  height: auto;
}

.vert {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}